*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.separator{
    height: 300vh;
}

.separ{
    height: 2rem;
}
.separ-1{
    height: 2rem;
    background-color: var(--light);
}

h1{
    font-size: 3rem;
}
h6{
    font-size: 1.5rem;
}
.solene-2{
    margin-bottom: 1rem;
}